{% extends 'ZymUserBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'Login' | trans({}, 'FOSUserBundle') }}</h1>
    </div>

    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

        <fieldset class="form-actions">
            <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </fieldset>
    </form>
{% endblock %}
