{{
    {
        'failures': {
            'pageIndex': page,
            'itemsPerPage': limit,
            'items' : failures,
            'totalItems': count
        }
    }
    |serialize('json') |raw
}}
