{% extends 'ZymThemeBundle::layout.html.twig' %}

{% block title %}{{ 'New Theme Rule' | trans({}, 'ZymThemeBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'New Theme Rule' |trans({}, 'ZymThemeBundle') }}</h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="javascript: history.back();">
                <i class="icon-arrow-left"></i>
                {{ 'Back' | trans({}, 'ZymThemeBundle') }}
            </a>
        </div>
    </div>

    {{ form_start(form, { 'action': path('zym_theme_theme_rules_add'), 'attr': { 'class': 'form-horizontal' } }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Create' | trans({}, 'ZymThemeBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymThemeBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
