{% extends 'ZymThemeBundle::layout.html.twig' %}

{% block title %}{{ 'Edit Theme Rule' | trans({}, 'ZymThemeBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Edit Theme Rule' | trans({}, 'ZymThemeBundle') }}
            <small>{{ themeRule.path |e }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="javascript: history.back();">
                <i class="icon-arrow-left"></i>
                {{ 'Back' | trans({}, 'ZymThemeBundle') }}
            </a>
        </div>

        <div class="btn-group">
            <a class="btn" href="{{ path('zym_security_acl_object_aces', { 'type': 'Zym\\Bundle\\ThemeBundle\\Entity\\ThemeRule', 'identifier': themeRule.id }) }}">
                <i class="icon-lock"></i>
                {{ 'Permissions' | trans({}, 'ZymThemeBundle') }}
            </a>
        </div>
    </div>

    {{ form_start(form, { 'action': path('zym_theme_theme_rules_edit', 'id': themeRule.id), 'attr': { 'class': 'form-horizontal' } }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Save changes' | trans({}, 'ZymThemeBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymThemeBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
