{% extends 'ZymThemeBundle::layout.html.twig' %}

{% block title %}{{ 'Theme Rules' | trans({}, 'ZymThemeBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Theme Rules' | trans({}, 'ZymThemeBundle') }}
            <small>{{ 'Manage theme rules' | trans({}, 'ZymThemeBundle') }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\ThemeBundle\\Entity\\ThemeRule']) %}
            <a class="btn" href="{{ path('zym_theme_theme_rules_add') }}">
                <i class="icon-plus"></i>
                {{ 'New Rule' | trans({}, 'ZymThemeBundle') }}
            </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'Path' |trans({}, 'ZymThemeBundle') }}</th>
                <th>{{ 'Theme' |trans({}, 'ZymThemeBundle') }}</th>
                <th>{{ 'Actions' |trans({}, 'ZymThemeBundle') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for rule in themeRules %}
            <tr>
                <td>
                    <a href="{{ path('zym_theme_theme_rules_edit', { 'id': rule.id }) }}">{{ rule.id |e }}</a>
                </td>
                <td>{{ rule.path |e }}</td>
                <td>{{ rule.theme |join(', <br>') |raw }}</td>
                <td>
                    <div class="btn-group">
                        {% if is_granted('EDIT', rule) %}
                        <a class="btn" href="{{ path('zym_theme_theme_rules_edit', { 'id': rule.id })}}">
                            <i class="icon-edit"></i>
                            {{ 'Edit' | trans({}, 'ZymThemeBundle') }}
                        </a>
                        {% endif %}

                        {% if is_granted('DELETE', rule) %}
                        <a class="btn" href="{{ path('zym_theme_theme_rules_delete', { 'id': rule.id })}}"  data-toggle="ajax-modal">
                            <i class="icon-remove"></i>
                            {{ 'Delete' | trans({}, 'ZymThemeBundle') }}
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if themeRules | length <= 0 %}
        <p>
            {{ 'There are no current theme rules.' | trans({}, 'ZymThemeBundle') }}

            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\ThemeBundle\\Entity\\ThemeRule']) %}
            <a class="" href="{{ path('zym_theme_theme_rules_add') }}">{{ 'Create a new theme rule.' | trans({}, 'ZymThemeBundle') }}</a>
            {% endif %}
        </p>
    {% endif %}

    {{ knp_pagination_render(themeRules) }}


{% endblock %}
