{% extends 'ZymSecurityBundle::layout.html.twig' %}

{% block title %}{{ 'New Role' | trans({}, 'ZymSecurityBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'New Role' |trans({}, 'ZymSecurityBundle') }}</h1>
    </div>

    {{ form_start(form, { 'action': path('zym_security_acl_roles_add'), 'attr': { 'class': 'form-horizontal' } }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Create' | trans({}, 'ZymSecurityBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymSecurityBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
