{% extends 'ZymMediaBundle::layout.html.twig' %}

{% block title %}{{ 'Add Media' | trans({}, 'ZymMediaBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Add Media' | trans({}, 'ZymMediaBundle') }}
            <small>{{ 'Add new media' | trans({}, 'ZymMediaBundle') }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="javascript: history.back();">
                <i class="icon-arrow-left"></i>
                {{ 'Back' | trans({}, 'ZymMediaBundle') }}
            </a>
        </div>
    </div>

    {{ form_start(form, { 'action': path('zym_media_add'), 'attr': { 'class': 'form-horizontal' } }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Add' | trans({}, 'ZymMediaBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymMediaBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
