{% extends 'ZymRuntimeConfigBundle::layout.html.twig' %}

{% block title %}{{ 'Add a Parameter' | trans({}, 'ZymRuntimeConfigBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'New Parameter' | trans({}, 'ZymRuntimeConfigBundle') }}
            <small>{{ 'Create a new parameter' | trans({}, 'ZymRuntimeConfigBundle') }}</small>
        </h1>
    </div>

    <p>
        {% trans from 'ZymRuntimeConfigBundle' %}Parameters allow for advanced custom configurations. Only modify parameters if you know what you are doing.{% endtrans %}
    </p>

    {{ form_start(form, { 'action': path('zym_runtime_config_parameters_add'), 'attr': { 'class': 'form-horizontal' } }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Create' | trans({}, 'ZymRuntimeConfigBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymRuntimeConfigBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
