{% extends 'ZymRuntimeConfigBundle::layout.html.twig' %}

{% block title %}{{ 'Delete Parameter' | trans({}, 'ZymRuntimeConfigBundle') }}{% endblock %}

{% block content %}
    <h3>{{ 'Confirm Deletion' | trans({}, 'ZymRuntimeConfigBundle') }}</h3>

    <p>
        You are about to delete parameter <strong>"{{ parameter.name |e }}"</strong>.
        This action cannot be undone.<br />
        <strong>Are you sure you want to proceed?</strong>
    </p>

    {{ form_start(form, { 'action': path('zym_runtime_config_parameters_delete', 'name': parameter.name) }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <button class="btn btn-danger" type="submit">{{ 'Confirm Deletion' | trans({}, 'ZymRuntimeConfigBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymRuntimeConfigBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
