<div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>{{ 'Confirm Deletion' | trans({}, 'ZymRuntimeConfigBundle') }}</h3>
</div>

<div class="modal-body">
    <p>
        You are about to delete parameter <strong>"{{ parameter.name |e }}"</strong>.
        This action cannot be undone.<br />
        <strong>Are you sure you want to proceed?</strong>
    </p>
</div>

<div class="modal-footer">
    {{ form_start(form, { 'action': path('zym_runtime_config_parameters_delete', { 'name': parameter.name }) }) }}
        {{ form_rest(form) }}
        <input class="btn btn-danger" type="submit" value="{{ 'Confirm Deletion' | trans({}, 'ZymRuntimeConfigBundle') }}" />
        <a href="#" class="btn" data-dismiss="modal">{{ 'Cancel' | trans({}, 'ZymRuntimeConfigBundle') }}</a>
    {{ form_end(form) }}
</div>
