{% extends 'ZymUserBundle::layout.html.twig' %}

{% block title %}{{ 'Add a group' | trans({}, 'ZymUserBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'New Group' | trans({}, 'ZymUserBundle') }}
            <small>{{ 'Create a group' | trans({}, 'ZymUserBundle') }}</small>
        </h1>
    </div>

    {{ form_start(form, { 'action': path('zym_user_groups_add'), 'attr': { 'class': 'form-horizontal' } }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Create' | trans({}, 'ZymUserBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymUserBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
