{% extends "ZymRouterBundle::layout.html.twig" %}

{% block title %}{{ 'Delete Route' | trans({}, 'ZymRouterBundle') }}{% endblock %}

{% block content %}
    <h3>{{ 'Confirm Deletion' | trans({}, 'ZymRouterBundle') }}</h3>

    <p>
        You are about to delete route <strong>"{{ route.name |e }}"</strong>.
        This action cannot be undone.<br />
        <strong>Are you sure you want to proceed?</strong>
    </p>

    {{ form_start(form, { 'action': path('zym_router_routes_delete', 'name': route.name) }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-danger">{{ 'Confirm Deletion' | trans({}, 'ZymRouterBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymRouterBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
