{% extends 'ZymSecurityBundle::layout.html.twig' %}

{% block title %}{{ 'Edit Access Rule' | trans({}, 'ZymSecurityBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Edit Access Rule' | trans({}, 'ZymSecurityBundle') }}
            <small>{{ accessRule.path |e }}</small>
        </h1>
    </div>
    {{ form_start(form, { 'action': path('zym_security_access_rules_edit'), 'attr': { 'id' : accessRule.id, 'class': 'form-horizontal' } }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Save changes' | trans({}, 'ZymSecurityBundle') }}</button>
            <button type="button" class="btn" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymSecurityBundle') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
