{% extends 'ZymUserBundle::layout.html.twig' %}

{% block title %}{{ 'Delete User' | trans({}, 'ZymUserBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Confirm Deletion' |trans({}, 'ZymUserBundle') }}
            <small>{{ user.username | e }}</small>
        </h1>
    </div>

    <p>
        You are about to delete <strong>"{{ user.username |e }}"</strong>.
        This action cannot be undone.<br />
        <strong>Are you sure you want to proceed?</strong>
    </p>

    {{ form_start(form, { 'action': path('zym_user_users_delete', 'id': user.id) }) }}
        {{ form_rest(form) }}
        <fieldset class="form-actions">
            <input class="btn btn-danger" type="submit" value="{{ 'Delete' | trans({}, 'ZymUserBundle') }}" />
            <a href="{{ path('zym_user_users') }}" class="button">{{ 'Cancel' | trans({}, 'ZymUserBundle') }}</a>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
