{% extends 'ZymUserBundle::layout.html.twig' %}

{% block title %}{{ 'Users' | trans({}, 'ZymUserBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Users' | trans({}, 'ZymUserBundle') }}
            <small>{{ 'Manage users' | trans({}, 'ZymUserBundle') }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\UserBundle\\Entity\\User']) %}
            <a class="btn" href="{{ path('zym_user_users_add') }}">
                <i class="icon-plus"></i>
                {{ 'Add User' | trans({}, 'ZymUserBundle') }}
            </a>
            {% endif %}
        </div>
        <div class="btn-group">
            <a class="btn" href="{{ path('zym_user_groups') }}">
                <i class="icon-user"></i>
                {{ 'Groups' | trans({}, 'ZymUserBundle') }}
            </a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('zym_user_groups_add') }}">
                        <i class="icon-plus"></i>
                        {{ 'Add Group' | trans({}, 'ZymUserBundle') }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="btn-group pull-right">
            <a class="btn" href="">Filter</a>
        </div>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Roles</th>
                <th>{{ 'Actions' | trans({}, 'ZymUserBundle') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id |e }}</td>
                <td><a href="{{ path('zym_user_users_show', { 'id': user.id }) }}">{{ user.email |e }}</a></td>
                <td>{{ user.enabled ? 'Yes' : 'No' | trans({}, 'ZymUserBundle') }}</td>
                <td>{{ user.roles | join(', <br>') |raw }}</td>
                <td>
                    <div class="btn-group">
                        {% if is_granted('VIEW', user) %}
                        <a class="btn" href="{{ path('zym_user_users_show', { 'id': user.id }) }}">
                            <i class="icon-share"></i>
                            {{ 'View' | trans({}, 'ZymUserBundle') }}
                        </a>
                        {% endif %}

                        {% if is_granted('EDIT', user) %}
                        <a class="btn" href="{{ path('zym_user_users_edit', { 'id': user.id }) }}">
                            <i class="icon-edit"></i>
                            {{ 'Edit' | trans({}, 'ZymUserBundle') }}
                        </a>
                        {% endif %}

                        {% if is_granted('DELETE', user) %}
                        <a class="btn" href="{{ path('zym_user_users_delete', { "id": user.id }) }}" data-toggle="ajax-modal">
                            <i class="icon-remove"></i>
                            {{ 'Delete' | trans({}, 'ZymUserBundle') }}
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(users) }}
{% endblock %}
